
			<div class="table">
			<tbody>
    			<% genres.each do |genre| %>
    				<nav style='list-style:none;'>
    					<ul>
      					<li><%= link_to genre.name, member_products_path(genre_id: genre.id)%></li>
      				    </ul>
    				<nav>
    			<% end %>
			</tbody>
		    </div>
