// Place all the styles related to the members/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recommend {
	margin-top: 70px;
}
.main-visual {
	background-image: image-url('mori.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
}
.text h3 {
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 30px;
}
.text p {
	font-size: 20px;
	text-align: center;
	padding-bottom: 100px;
}

.s1 {
	color: #444;
	font-size: 24px;
	display: flex;
	align-items: center;
}
.s1:before, .s1:after {
	content: "";
	flex-grow: 1;
	height: 2px;
	background: #d2b071;
	display: block;
}
.s1:before {
	margin-right: .4em;
}
.s1:after {
	margin-left: .4em;
}
.only {
	color: #fff;
	text-align: center;
	background-color: #a47a43;
	font-size: 12px;
	padding: 3px;
	margin-top: 20px;
	width: 100px;
}
.big {
	font-size: 15px;
	color: #6f4b3e
}
.welcome-text {
	color: #fff;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat Subrayada', sans-serif;
	padding-top: 180px;
}
.cohi {
	background-image: image-url('cheesecake.jpg');
	background-size: cover;
	width: 100%;
	height: 300px;
	margin-bottom: 70px;
}
.genre {
	text-align: center;
}
.genre h3 {
    padding-top: 10px;
    padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: double 6px #d2b071;
}
.recommend-index {
	padding-left: 150px;
	padding-right: 150px;
}