<h1>ジャンル検索</h1>

<a href = "#">ケーキ<a>
<a href = "#">焼き菓子<a>
<a href = "#">プリン<a>
<a href = "#">キャンデー<a>



<h1>商品一覧（全X）</h1>


<% @products.each do |product| %>

    <%= attachment_image_tag(product, :image, :fill, 200, 200, fallback: "no-image-mini.jpg") %>
      <%= product.name%>
      <%= product.non_taxed_price%> * 0.8
<% end %>
